{% load static from staticfiles %}
<div>
		<!--<div style="float: right;margin-top:1%;">
			<select id="dest_station" name="dest_station" onchange="ajaxWithSerialize('y','','/change_dest_station','station='+this.value);" style="width: 200px;">
				<option>Change Destination Station</option>
				<option selected="true">None</option>
				<option>LAX</option>
				<option>SFO</option>
				<option>SLC</option>
				<option>DFW</option>
				<option>IAH</option>
				<option>SAE</option>
				<option>PDX</option>
			</select>
		</div>-->
		
		<img alt="ceva-logo" src="{% static "img/searce1.png" %}" width="150" />
		<img alt="ceva-logo" src="{% static "img/adroit_logo1.png" %}" style="display: block; margin-left: auto;   margin-right: auto;  " />
		
	</div>
	


